*{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
      a{
          color: black;
          font-size: 13px;
      }
     body{
      background-image: url('https://think360studio-media.s3.ap-south-1.amazonaws.com/download/india-flag-2021-wallpaper-4.png');
     }
     .showcase{
      display: flex;
      justify-content: center;
      align-items: center;
      color: red;

  }
  .video-content{
      z-index: 1;
      text-align: center;
  }
  .video-container{
      position: absolute;
      height: 60%;
      width: 100%;
  }
  .video-container video{
      position: absolute;
      top:  100%;
      left: 50%;
      transform: translate(-50%,-80%);
  }
  .video-content h1{
      color: rgb(14, 88, 6);
      font-size: 30px;
      margin-top: 95%;
  }
  .video-content h1::first-letter{
      color: red;
  }
  .video-content a{
      background-color: rgb(7, 130, 130);
      color: rgb(7, 7, 116);
      padding: 10px;
      border: 1px solid rgb(7, 7, 247);
      text-decoration: none;
  }
  .video-content a:hover{
      opacity: 0.4;
      color: red;
  }
  
